{% extends 'basegym.html' %}

{% block title %}Create Member{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="form_member">
            <div class="row">
                <div class="col-md-4 offset-md-4">
                    <br><br><br><br><br>

                    <div class="card" style="border: 0;">
                        <div class="card-header" style="background-color: #ffc107; color: white">
                            <h3 class="text-center">Create user</h3>
                        </div>
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="card-body">
                                {{ form.as_p }}
                            </div>
                            <div class="card-footer text-center">
                                <button type="submit" class="btn btn-warning" style="color: white">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}