{% extends 'basegym.html' %}

{% block title %}Create Card{% endblock %}

{% block content %}
    <div class="container-fluid " >
        <div class="form_member">
            <div class="row">
                <div class="col-md-4 offset-md-4">

                    <div class="card border-0" style="margin-top: 70px">
                        <div class="card-header py-1" style="background-color: #ffc107; color: white">
                            <h3 class="text-center">Create card</h3>
                        </div>
                        <form method="post" enctype="multipart/form-data" class="form-inline">
                            {% csrf_token %}
                            <div class="card-body">
                                {{ form.as_p }}
                            </div>
                            <div class="card-footer text-center">
                                <button type="submit" class="btn btn-warning text-white" >Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}