{% extends 'basegym.html' %}

{% block title %}Delete Card{% endblock %}

{% block content %}
    <div class="container-fluid" >
        <div class="form_member">
            <div class="row">
                <div class="col-md-4 offset-md-4 " >

                    <div class="card border-0" style="margin-top: 370px">
                        <div class="card-header py-1" style="background-color: #ffc107; color: white">
                            <h3 class="text-center">Delete - {{ card.title }}</h3>
                        </div>
                        <form method="post" enctype="multipart/form-data" >
                            {% csrf_token %}
                            <div class="card-body">
                                <h5 class="text-center"> Are you sure you want to delete {{ card.title }}?</h5>
                            </div>
                            <div class="card-footer text-center">
                                <button type="submit" class="btn btn-warning text-white" >Yes</button>
                                <a href="{% url 'prices' %}" class="btn btn-secondary">No</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}