{% extends 'basegym.html' %}
{% load static %}

{% block title %}Prices{% endblock %}

{% block content %}


    <div class="title_container">
        <h4 class="title-prices">Subscriptions</h4>
        {% if user.is_authenticated %}
            {% if perms.prices.add_card %}
                <a href="{% url 'create-card' %}" class="btn btn-secondary">Create</a>
            {% endif %}
        {% endif %}
    </div>


    <div class="container_prices">

        {% for card in all_cards %}
            <div class="card_subscriptions">
                <div class="container_name_subs">
                    <h5 class="name_subs">{{ card.title }}</h5>
                    <h5 class="name_details">{{ card.title_detail }}</h5>
                </div>
                <div class="container_price">
                    <div class="price_currency">
                        <h5 class="price">{{ card.price }}</h5>
                        <h5 class="currency">RON</h5>
                    </div>
                    <h5 class="price_details">{{ card.price_detail }}</h5>
                </div>


                <div class="benefits">
                    {% if card.benefit_1 %}
                        <div class="content">
                            <div class="icon_subs">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                     class="bi bi-check-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                    <path d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05"/>
                                </svg>
                            </div>
                            <h5>{{ card.benefit_1 }}</h5>
                        </div>
                    {% endif %}

                    {% if card.benefit_2 %}
                        <div class="content">
                            <div class="icon_subs">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                     class="bi bi-check-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                    <path d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05"/>
                                </svg>
                            </div>
                            <h5>{{ card.benefit_2 }}</h5>
                        </div>
                    {% endif %}

                    {% if card.benefit_3 %}
                        <div class="content">
                            <div class="icon_subs">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                     class="bi bi-check-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                    <path d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05"/>
                                </svg>
                            </div>
                            <h5>{{ card.benefit_3 }}</h5>
                        </div>
                    {% endif %}

                    {% if card.benefit_4 %}
                        <div class="content">
                            <div class="icon_subs">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                     class="bi bi-check-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                    <path d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05"/>
                                </svg>
                            </div>
                            <h5>{{ card.benefit_4 }}</h5>
                        </div>
                    {% endif %}

                    {% if card.benefit_5 %}
                        <div class="content">
                            <div class="icon_subs">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                     class="bi bi-check-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                    <path d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05"/>
                                </svg>
                            </div>
                            <h5>{{ card.benefit_5 }}</h5>
                        </div>
                    {% endif %}

                    {% if card.benefit_6 %}
                        <div class="content">
                            <div class="icon_subs">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                     class="bi bi-check-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                    <path d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05"/>
                                </svg>
                            </div>
                            <h5>{{ card.benefit_6 }}</h5>
                        </div>
                    {% endif %}
                </div>
                <div class="container_btn">
                    <a href="">Buy now</a>
                </div>

                {% if user.is_authenticated %}
                    <div class="container_staff">
                        {% if perms.prices.change_card %}
                            <a href="{% url 'update-card' card.id %}" class="edit_staff">EDIT</a>
                        {% endif %}
                        {% if perms.prices.delete_card %}
                            <a href="{% url 'delete-card' card.id %}" class="delete_staff">DELETE</a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}


    </div>


{% endblock %}