/*Variables*/
:root {
    --main-color: #569999;
    --hover-color: #477d7d;
    --custom-font-size: 18px;
    --custom-font-weight: 650;
}


/*################---NAVBAR---################*/

a.navbar-brand {
    color: #ffc107;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
}

.navbar-nav li a.nav-link.active {
    color: var(--main-color);
    font-size: var(--custom-font-size);
    font-weight: var(--custom-font-weight);

}

.navbar-nav li a.nav-link {
    color: var(--main-color);
    font-size: var(--custom-font-size);
    font-weight: var(--custom-font-weight);
}

.navbar-nav a.nav-link.dropdown-toggle {
    color: var(--main-color);
    font-size: var(--custom-font-size);
    font-weight: var(--custom-font-weight);
}

.navbar-nav li a.dropdown-item {
    color: var(--main-color);
}

.navbar-nav li a.nav-link.disabled {
    color: var(--main-color);
    font-size: var(--custom-font-size);
    font-weight: var(--custom-font-weight);
}


/*Hover*/

a.navbar-brand:hover {
    color: #dba504;
}

.navbar-nav li a.nav-link.active:hover {
    color: var(--hover-color);
}

.navbar-nav li a.nav-link:hover {
    color: var(--hover-color);
}

.navbar-nav a.nav-link.dropdown-toggle:hover {
    color: var(--hover-color);
}

.navbar-nav a.dropdown-item:hover {
    color: var(--hover-color);
}


/*################---body---################*/
body {
    background-color: #222426;
    /*background-image: url("../images/1.jpg");*/
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    height: 100vh;
}

.custom-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 93vh;


}


/*####################---Homepage gym---###################*/
.logo {
    display: flex;
    color: #ffc107;
    font-weight: bold;
    font-size: 350px;
    font-style: italic;
    background-clip: text;
    -webkit-text-stroke-color: #808080;
    -webkit-text-stroke-width: calc(1em / 200);
}

.title1 {
    color: white;
    font-size: 50px;
    font-weight: bold;
    background-clip: text;
    -webkit-text-stroke-color: #808080;
    -webkit-text-stroke-width: calc(1em / 40);
}

.one {
    color: #ffc107;
    background-clip: text;
    -webkit-text-stroke-color: #808080;
    -webkit-text-stroke-width: calc(1em / 40);
}

.title2 {
    text-decoration: none;
    background-color: #ffc107;
    margin-top: 2px;
    color: #ffffff;
    font-size: 50px;
    font-weight: bold;
    padding: 5px 15px;

}

.title2:hover {
    font-size: 52px;
    transform: translateY(0);
    margin-top: 0;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    /*background-color: rgba(45, 45, 39, 0.7);*/
    z-index: -1;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;

}

/*###################---About gym---###################*/

/*.about{*/
/*    background-color: red;*/
/*    width: 90vw;*/
/*    height: 80vh;*/
/*    margin: 5vh 5vw 5vh 5vw; !*t r b l*!*/

/*    !*margin-left: 3vw;*!*/
/*    !*margin-right: 5vw;*!*/
/*    !*margin-bottom: 5vh;*!*/
/*}*/

.image_about {
    width: 100%;
    height: 100%;
    object-fit: cover;


}

.box {
    display: flex;

    column-gap: 10px;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 125px;
}

.box1 {

    background-color: #22668d;
    background-image: url("../images/7.jpg");
    background-size: cover;
    width: 28vw;
    height: 80vh;
}

.box2 {
    flex-direction: column;
    background-color: #ffc107;
    width: 72vw;
    height: 80vh;

}

.title_about {

    margin: 80px 0 40px 60px;
    color: white;
    align-items: center;
    font-size: 50px;
    font-family: "Adobe Gothic Std B";
    font-weight: bold;
}

.title_kos1 {
    font-family: "Segoe UI";
    font-style: italic;
    font-weight: bold;
    font-size: 52px;

}

.title_kos2 {
    font-family: "Segoe UI";
    font-style: italic;
    font-weight: bold;
    font-size: 40px;

}

.text_about {
    margin-left: 40px;
    margin-top: 20px;
    color: white;
    align-items: center;
    font-size: 25px;
    font-family: "Adobe Gothic Std B";

}

/*################---SLIDER---####################*/

.body_slider {
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: #22668d;*/
    overflow-x: hidden;
    height: 100vh;
    margin-bottom: 50px;


}


.container_slider {
    width: 100%;
    height: 100%;
    max-width: 900px;
    max-height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    flex-direction: column;

}

.cards_about {
    position: relative;
    height: 500px;
    width: 430px;
    margin-bottom: 20px;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.cards_about label {
    position: absolute;
    width: 350px;
    left: 10px;
    /*margin: auto;*/
    cursor: pointer;
    transition: transform 0.55s ease;
    border-radius: 10px;


}


.cards_about .card_about {
    position: relative;
    height: 100%;
    background-color: #2b3035;
    border-radius: 10px;
    padding: 30px 30px;

}

.cards_about .image_about {
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
    justify-content: center;
}

.cards_about .image_about img {
    border-radius: 5px;
    box-shadow: 15px 15px 40px rgba(0, 0, 0, 40%);
    width: 100%;
    height: 470px;
    object-fit: cover;
    transition: all .7s;
}

.cards_about .image_about img:hover {
    transform: scale(1.05);
}

.name {
    margin-top: 20px;
    text-align: center;
    color: white;
}

input {
    display: none;
}

/*.card_about {*/
/*    background-color: #ffc107;*/

/*    width: 400px;*/
/*    height: 600px;*/
/*    border-radius: 10px;*/

/*}*/

/*.card_about img {*/
/*    border: 3px solid #ffc107;*/
/*    width: 400px;*/
/*    height: 600px;*/
/*    object-fit: cover;*/
/*    border-radius: 10px;*/
/*}*/

#s1:checked ~ .cards_about #slide4,
#s2:checked ~ .cards_about #slide5,
#s3:checked ~ .cards_about #slide1,
#s4:checked ~ .cards_about #slide2,
#s5:checked ~ .cards_about #slide3 {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 45%);
    transform: translate3d(-140%, 0, -220px);
    --current-color1: #eceaed;
    --current-color2: #404457;
}

#s1:checked ~ .cards_about #slide5,
#s2:checked ~ .cards_about #slide1,
#s3:checked ~ .cards_about #slide2,
#s4:checked ~ .cards_about #slide3,
#s5:checked ~ .cards_about #slide4 {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 45%);
    transform: translate3d(-70%, 0, -120px);
    --current-color1: #eceaed;
    --current-color2: #404457;
}

#s1:checked ~ .cards_about #slide1,
#s2:checked ~ .cards_about #slide2,
#s3:checked ~ .cards_about #slide3,
#s4:checked ~ .cards_about #slide4,
#s5:checked ~ .cards_about #slide5 {
    box-shadow: 0 25px 50px rgba(0, 0, 0, 45%);
    transform: translate3d(0, 0, 0);

}

#s1:checked ~ .cards_about #slide2,
#s2:checked ~ .cards_about #slide3,
#s3:checked ~ .cards_about #slide4,
#s4:checked ~ .cards_about #slide5,
#s5:checked ~ .cards_about #slide1 {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 45%);
    transform: translate3d(70%, 0, -120px);
    --current-color1: #eceaed;
    --current-color2: #404457;
}

#s1:checked ~ .cards_about #slide3,
#s2:checked ~ .cards_about #slide4,
#s3:checked ~ .cards_about #slide5,
#s4:checked ~ .cards_about #slide1,
#s5:checked ~ .cards_about #slide2 {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 45%);
    transform: translate3d(140%, 0px, -220px);
    --current-color1: #eceaed;
    --current-color2: #404457;
}

.h1_about {
    margin-top: 10px;
    margin-bottom: 40px;
    text-align: center;
    color: #ffffff;
    font-size: 80px;
}

/*########################---Location---############################*/

.find_us {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

}


.box_location {
    display: flex;
    column-gap: 40px;
    align-items: center;
    margin: 50px 100px 150px 100px;

}

.box3 {
    box-shadow: 0 0 15px #070606;
    background-color: white;
    background-size: cover;
    width: 50vw;
    height: 50vh;
    border-radius: 5px;
}

.box4 {
    box-shadow: 0 0 25px #ffc107;
    background-color: #2b3035;
    border-radius: 5px;
    width: 30vw;
    height: 50vh;

}

.size_map {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.h3_location {
    color: #ffffff;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.items {
    display: flex;
}

.icon {
    color: #ffffff;
    width: 30px;
    height: 30px;
    margin-bottom: 50px;
    margin-left: 50px;
}

.text_icon {
    color: white;
    margin-left: 30px;
    font-size: 20px;
}


/*##########################################---Prices---#######################################*/

.title_container {
    display: flex;
    background-image: url("../images/28.jpg");
    background-size: cover;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25vh;
}


.title-prices {
    font-size: 40px;
    color: white;
    font-weight: bold;
    margin-top: 60px;
}

.card_subscriptions {
    width: 18rem;
    height: 37rem;
    background-color: #2b3035;
    border-radius: 5px;

}

.container_name_subs {
    width: 100%;
    height: 18%;
    background-color: #ffc107;
    border-radius: 5px;

}

.name_subs {
    color: white;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    padding-top: 32px;
    margin-bottom: 0;
}

.name_details {
    color: #404457;
    font-size: 13px;
    text-align: center;

}

.container_price {
    width: 100%;
    height: 20%;
    border-radius: 5px;
    margin-bottom: 25px;

}

.price_currency {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.price {
    color: white;
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 0;

}

.currency {
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.price_details {
    color: white;
    font-size: 18px;
    text-align: center;

}

.content {
    display: flex;
    /*justify-content: center;*/
    align-items: center;
}

.icon_subs {
    color: #ffffff;
    width: 12px;
    height: 12px;
    margin-bottom: 25px;
    margin-left: 20px;

}


.content h5{
    color: white;
    margin-left: 10px;
    font-size: 14px;
}

.container_btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_btn button{
    background-color: #ffc107;
    width: 180px;
    height: 50px;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-top: 20px;
    border: 0;
}

.container_btn button:hover{
    background-color: #d5a208;
}
