{% extends 'basegym.html' %}

{% load static %}
{% block title %}Home page gym{% endblock %}

{% block content %}


    <div class="container-fluid custom-content">
        <video autoplay loop muted src="{% static 'images/gym_video.mp4' %}">
        </video>
        <div class="overlay"></div>
        <h1 class="logo">
            K.OS
        </h1>
        <h2 class="title1">
            ONE DAY OR DAY <span class="one">ONE</span>
        </h2>

        {% if user.is_authenticated %}
            <a class="title2" href="{% url 'prices' %}">YOU DECIDE</a>
        {% else %}
            <a class="title2" href="{% url 'login' %}">YOU DECIDE</a>
        {% endif %}


    </div>



{% endblock %}