{% extends 'basegym.html' %}
{% load static %}

{% block title %}Classes{% endblock %}

{% block content %}


    <div class="title_container_schedule">
        <h4 class="title_schedule">Classes</h4>

    </div>


    <div class="container_dates">

        {% for day in tuple_list %}
            <div class="card_date">
                <div class="container_title_date">
                    <h5>{{ day.0| date:'d.m.Y' }}</h5>
                </div>
                <div class="container_classes">
                    {% for class in day.1 %}
                        <div class="container_class">
                            <div class="title_class">
                                <h5>{{ class.title.upper }}</h5>
                            </div>
                            <div class="content_class">

                                <div class="trainer_class">
                                    <h5>Trainer: {{ class.trainer.first_name }} {{ class.trainer.last_name.0 }}.</h5>
                                    <h5>Ora: {{ class.time }}</h5>
                                </div>

                                {% if class.id in user_schedule %}
                                    <div>
                                        <form action="{% url 'classes' %}" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="action" value="cancel">
                                            <input type="hidden" name="class_id" value="{{ class.id }}">
                                            <button class="btn join_cancel_class" type="submit">Cancel</button>
                                        </form>

                                    </div>

                                {% else %}
                                    {% if class.trainer != user %}

                                        {% if user.is_authenticated %}

                                            {% if perms.prices.add_card %}

                                                {% if class.people_nr >= 1 %}
                                                    <form action="{% url 'classes' %}" method="post">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="action" value="join">
                                                        <input type="hidden" name="class_id" value="{{ class.id }}">
                                                        <button class="btn join_cancel_class" type="submit">Join
                                                        </button>
                                                    </form>
                                                {% endif %}



                                            {% elif current_subscription.start_date <= class.date and class.date <= current_subscription.end_date or next_subscription.start_date <= class.date and class.date <= next_subscription.end_date %}

                                                {% if class.people_nr >= 1 %}
                                                    <form action="{% url 'classes' %}" method="post">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="action" value="join">
                                                        <input type="hidden" name="class_id" value="{{ class.id }}">
                                                        <button class="btn join_cancel_class" type="submit">Join
                                                        </button>
                                                    </form>
                                                {% endif %}

                                            {% else %}
                                                {% if class.people_nr >= 1 %}
                                                    <a class="btn join_cancel_class"
                                                       href="{% url 'prices' %}">Join</a>
                                                {% endif %}
                                            {% endif %}
                                        {% else %}
                                            {% if class.people_nr >= 1 %}
                                                <a class="btn join_cancel_class" href="{% url 'login' %}">Join</a>
                                            {% endif %}
                                        {% endif %}

                                    {% endif %}
                                {% endif %}
                            </div>
                            <div class="spots_class">
                                <h5>Locuri disponibile: {{ class.people_nr }}</h5>
                            </div>
                        </div>


                    {% endfor %}
                </div>
            </div>

        {% endfor %}
    </div>

{% endblock %}