{% extends 'basegym.html' %}

{% block title %}Create User{% endblock %}

{% block content %}
    <div class="container-fluid">
        <br><br><br><br>
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="card border-0" >
                    <div class="card-header bg-warning text-white" >
                        <h4 class="text-center">Create User</h4>
                    </div>
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="card-body">
                            {{ form.as_p }}
                        </div>
                        <div class="card-footer text-center">
                            <button type="submit" class="btn btn-warning text-white">Sign Up</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}